@font-face {
    font-family: 'Rubik-Light';
    src: url(../font/Rubik-Light.ttf);
    
}
@font-face {
    font-family: 'Rubik-Regular';
    src: url(../font/Rubik-Regular.ttf);
    
}
@font-face {
    font-family: 'Rubik-SemiBold';
    src: url(../font/Rubik-SemiBold.ttf);
    
}